{{- $icon_type := .icon_type | default "fontawesome" -}}
{{- $icon := .icon -}}

{{- if eq $icon_type "fontawesome" -}}
  <i class="{{ $icon }} mr-2"></i>
{{- else if eq $icon_type "custom" -}}
  {{- $svg_path := printf "media/icons/custom/%s.svg" $icon -}}
  {{- $svg_resource := resources.Get $svg_path -}}
  {{- if $svg_resource -}}
    <span class="inline-block w-4 h-4 mr-2">
      {{ $svg_resource.Content | safeHTML }}
    </span>
  {{- else -}}
    <span class="inline-block w-4 h-4 mr-2 bg-gray-300 rounded"></span>
  {{- end -}}
{{- end -}}
